@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  scrollbar-width: none; /* for Firefox */
}

::-webkit-scrollbar {
  width: 0;
  display: none;
}

body{
	@apply bg-gray-20;
}

h1 {
  @apply text-4xl;
}
h2 {
  @apply text-[32px];
}
